# Edit with caution!
RewriteBase /

#Disable default index pages on directories
Options -Indexes

#URL Rewrite
Options +FollowSymlinks
RewriteEngine on

#Generic pages
RewriteRule ^legal generic.php?resource=legal [NC,L]
RewriteRule ^privacy-policy generic.php?resource=privacy-policy [NC,L]

#Redirect to non-www version of site
RewriteCond %{HTTP_HOST} ^www.ftpconnect.tk [NC]
RewriteRule ^(.*)$ http://ftpconnect.tk/$1 [L,R=301]