html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
}

#start {
    background-color: #cfd8dc;
    background-image: url(/assets/img/programmer.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 100%;
}

h1, h2, h3, h4 {
    font-family: 'Roboto Slab', sans-serif;
}

h3, h4 {
    margin: 0;
}

#start-left {
    float: left;
    margin-left: 50px;
}

#start-left h1 {
    font-size: 40pt;
}

#start-left h2 {
    font-size: 20pt;
}

#start-form {
    background-color: #e1e8e9;
    padding: 10px 20px;
    border-radius: 3px;
    display: inline-block;
    max-width: 50%;
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 1;
}

#start-form h3 {
    font-size: 30pt;
}

.control-label {
    display: block;
    font-family: "Roboto Slab", sans-serif;
    font-weight: bold;
    margin: 5px 0;
    font-size: 14pt;
}

.form-control {
    display: block;
    width: 100%;
    background-color: #f5f9fb;
    border: none;
    border-radius: 3px;
    padding: 8px;
    font-size: 12pt;
    margin-bottom: 10px;
    box-sizing: border-box;
    transition: all 0.2s ease-in;
    outline: 0;
}

.form-control:focus {
    background-color: #ecf2f4;
}
    
.btn-submit {
    background-color: #f5f9fb;
    border: none;
    border-radius: 3px;
    padding: 8px 20px;
    margin-top: 3px;
    transition: all 0.2s ease-in;
}

.btn-submit:hover {
    background-color: #ecf2f4;
}

#start-down-container {
    position: absolute;
    text-align: center;
    bottom: 0px;
    width: 100%;
    margin-bottom: 20px;
    z-index: 0;
}

#start-down {
    font-size: 60pt;
    color: #f5f9fb;
    transition: all 0.2s ease-in;
}

#start-down:hover {
    color: #e1e8e9;
}

#warning {
    background-color: #ff3300;
    color: white;
    padding: 10px 20px;
}